<h1>
  {{title}} app !
</h1>
<div class="row">
  <div class="column" *ngIf=serviceList>
    <label class="textClass">Control</label>
    <li *ngFor="let service of serviceList; let i = index;" (click)="selectService(i)" [ngClass]="{'highlight': selectedIndex === i}">
      {{ service.attributes.name }}
    </li>
  </div>
  <div class="column" *ngIf=providerList>
    <label class="textClass">Results</label>
    <li *ngFor="let provider of providerList">
      {{ provider.attributes.name }}
    </li>
  </div>
</div>